<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/d4c7a63894.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="topnav">
        <nav class="navbar navbar-expand-lg sticky-top navbar-light " style="background-color:white">
            <a class="navbar-brand" href="{% url 'homepage' %}"><span style="font-size:40px;"><i
                        class="fab fa-instagram"></i></span></a>
            <a class="nav-link" href="/admin"><span style="font-size:30px;"><i class="fas fa-user-cog"></i></span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">


                <div class="navbar-left">
                    <ul id="navbar-list" class="navbar-nav mr-auto mt-2 mt-lg-0">
                        {% if user.is_authenticated %}

                        <li>
                            <a class="nav-link" href="/profile"><span style="font-size:30px; color:black"><i
                                        class="fas fa-user"></i></span></a>
                        </li>

                        <li>
                            <a class="nav-link" href="/upload_image"><span style="font-size:30px; color:black"><i
                                        class="fas fa-camera"></i></span></a>
                        </li>

                        <li>
                            <a class="nav-link" href="/accounts/password_change"><span
                                    style="font-size:30px; color:black;"><i class="fas fa-key"></i></span></a>
                        </li>

                        <li>
                            <a class="nav-link" href="/accounts/logout"><span style="font-size:30px; color:black"><i
                                        class="fas fa-sign-out-alt"></i></span></a>
                        </li>
                    </ul>

                    {% else %}
                    <li>
                        <a class="nav-link" href="/accounts/login">Login</a>
                    </li>
                    {% endif %}
                </div>
                <div class="navbar-right">
                    <form class="navbar-form" role="search" , action="{% url 'search_results' %}">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search user" name="user">
                            <div class="input-group-btn">
                                <button class="btn btn-outline-info" type="submit"><i
                                        class="fas fa-search"></i></button>

                            </div>
                        </div>
                    </form>
                </div>
        </nav>
</body>
<style>
.navabar-right{
    margin-right: 500px;
}

</style>

</html>