{% extends 'base.html'%}
{% block content %}
<div class="container">
    <img src="{{image.image.url}}" alt="">

    <form role="add_comment" , action="{% url 'add_comment' image.id %}">
        {% csrf_token%}
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Comment" name="comment">
            <div class="input-group-btn">
                <button class="btn btn-outline-info" type="submit"> Post</button>

            </div>
        </div>
    </form>

    <h2> {{image.profile}} </h2>
    <hr>
    <p>{{image.caption}}</p>
    <h4>Comments</h4>
    {% for comment in comments %}
    <h3 ><i class="fa fa-user" aria-hidden="true">
            {{comment.user}}</i></h3>
    <p>{{comment.content}}</p>

    <p class="text-muted" style="font-size: 10px;">posted {{comment.pub_date | timesince}} ago </p>
    <hr>
    {% endfor %}

</div>
</div>

</div>
{%endblock%}

</div>